.hljs
{
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #E0E0E0;
	border: 1px solid #888;
}

.hljs, .hljs-subst
{
	color: #333;
}

.hljs-comment
{
	color: #267F00;
}

.hljs-keyword,.hljs-attribute,.hljs-selector-tag,.hljs-meta-keyword,.hljs-doctag,.hljs-name
{
	font-weight: bold;
	color: #0026FF;
}

.hljs-type,.hljs-string,.hljs-number,.hljs-selector-id,.hljs-selector-class,.hljs-quote,.hljs-template-tag,.hljs-deletion
{
	color: #B54800;
}

.hljs-title,.hljs-section
{
	color: #880000;
	font-weight: bold;
}

.hljs-regexp,.hljs-symbol,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-selector-attr,.hljs-selector-pseudo
{
	color: #BC6060;
}

.hljs-literal
{
	color: #78A960;
}

.hljs-built_in,.hljs-bullet,.hljs-code,.hljs-addition
{
	color: #397300;
}

.hljs-meta
{
	color: #004A7F;
}

.hljs-meta-string
{
	color: #0026FF;
}

.hljs-emphasis
{
	font-style: italic;
}

.hljs-strong
{
	font-weight: bold;
}