body, table, tr, td, div, span, p, ul, ol, li
{
	padding: 0px;
	margin: 0px;
}

a
{
	text-decoration: none;
	color: inherit;
}

a:hover
{
	color: #0094FF;
}

table
{
	border-collapse: collapse;
}

body
{
	font-family: Roboto, Tahoma, Verdata, sans;
}

textarea
{
	font-family: Roboto, Tahoma, Verdata, sans;
	font-size: 14px;
}

.header
{
	min-width: 640px;
	width: 100%;
}

.headerWrapper
{
	padding-top: 20px;
	padding-bottom: 30px;
}

#nameBlock
{
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	width: 300px;
}

#searchPanel
{
	width: 420px;
	padding-right: 10px;
}

#searchBox
{
	width: 400px;
	height: 32px;
	font-size: 16px;
	padding: 0px 5px;
}

.horizontalMenuBody
{
	height: 50px;
	background-color: #333;
	text-align: center;
	min-width: 640px;
}

.horizontalMenuListWrapper
{
	height: 100%;
}

.horizontalMenuList 
{
	height: 100%;
}

.horizontalMenuList li 
{
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
	height: 50px;
	padding: 0px 20px;
	color: white;
}

.horizontalMenuList li:hover
{
	background-color: #0094FF;
}

.centered
{
	max-width: 1080px;
	min-width: 640px;
}

#pinnedPostWrapper
{
	padding: 30px 0px;	
}

#pinnedPostText
{
	width: 660px;
	text-align: center;
}

#pinnedPostImage
{
	width: 400px;
}

#pinnedPostSeparator
{
	margin-left: 20px;
	margin-right: 20px;
}

#pinnedPostTitle
{
	text-transform: uppercase;
	margin-bottom: 0px;
}

#footer
{
	background-color: #333;
	line-height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

#latestPostsListing
{
	text-align: center;
}

.latestPost
{
	display: inline-block;
	width: 250px;
	margin: 5px;
}

.contactTableTdPadding
{
	padding: 5px 0px;
}

#msgText
{
	width: 100%;
	height: 200px;
}

#contactsTable
{
	width: 50%;
	margin: 25px;
}

.blogPostPreviewTitle
{
	margin: 0px;
}

.blogCategoryQuick
{
	text-align: left;
}

.blogCategoryHeader
{
	padding-left: 10px;
}

#msgTextInput
{
	font-family: Roboto, Tahoma;
}

.postCategory
{
	text-align: left;
	margin-top: 15px;
	margin-left: 15px;
	font-size: 20px;
}

.postStats
{
	text-align: left;
	margin-left: 15px;
	font-size: 16px;
}

.postTitle
{
	text-align: left;
	margin-left: 15px;
	margin-bottom: 0px;
}

.postHR
{
	border-color: #666;
}

.postTextDefault
{
	font-size: 16px;
	text-align: justify;
	padding: 0px 10px;
}

.postTextDefault p
{
	margin: 10px 0px;
}

.cppCodeSnippet
{
	background-color: #EEE;
	border: 1px solid black;
	padding: 5px;
}

footer
{
	min-width: 640px;
}

.loginFormContainer
{
	max-width: 800px;
	min-width: 300px;
}

#loginFormTable
{
	padding: 25px;
}

.loginInput
{
	min-width: 250px;
	max-width: 400px;
}

.submitInput
{
	width: 100px;
}

.loginCaption
{
	padding-left: 5px;
	padding-right: 15px;
	padding-bottom: 6px;
	padding-top: 6px;
}

.errorMessage
{
	margin: 50px;
	min-width: 400px;
	max-width: 600px;
	padding: 30px;
}

.commentContainer
{
	margin: 10px 5px;
	border-radius: 20px;
}

.usernameLink:hover
{
	color: #FFD800;
}

.button
{
	background-color: #0094FF;
	border: none;
	border-radius: 6px;
	padding: 5px 10px;
	color: white;
	cursor: pointer;
	font-size: 16px;
}

.button:hover
{
	background-color: #00BAFF;
}

.loginButtonSection
{
	float: right;
	margin: 0px 3px;
}

.usernameHeaderLink
{
	color: #333;
}

.usernameHeaderLink:hover
{
	color: #FF6A00;
}

.loginErrorBox
{
	background-color: #FF2B2B;
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
	text-align: center;
}

.requiredField
{
	color: red;
}

#registerForm hr
{
	border: 1px solid #CCC;
	margin: 5px 15px;
}

.adminBarHeader
{
	color: #FF670F;
}

.adminBarMenuButton
{
	padding: 5px 10px;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.colorVariation1
{
	background-color: #FFF0A8;
}

.colorVariation2
{
	background-color: #FFE88E;
}

.adminBarMenuButton:hover
{
	color: white;
	background-color: #FF6A00;
}

.removeCommentButton
{
	color: #FFD800;
	font-weight: bold;
}

.removeCommentButton:hover
{
	color: red;
}
