<div id="pinnedPostWrapper" class="centered">
	<table>
		<tr>
			<td id="pinnedPostText">
				<h2 id="pinnedPostTitle">Pinned post title</h2>
				<hr id="pinnedPostSeparator">
				<p>
					Pinned post full description, which can be even multilined
				</p>
			</td>
			<td id="pinnedPostImage">
				<img src="img/pinned_post_img.jpg" style="width: 100%" />
			</td>
		</tr>
	</table>
</div>

<div class="centered" id="latestPostsSection">
	<h3 style="margin-left: 20px;">Latest posts</h3>
	<div id="latestPostsListing">
		<div class="latestPost">
			<a href="#"><img src="img/post1.jpg" style="width: 100%" /></a>
		</div>
		<div class="latestPost">
			<a href="#"><img src="img/post2.jpg" style="width: 100%" /></a>
		</div>
		<div class="latestPost">
			<a href="#"><img src="img/post3.jpg" style="width: 100%" /></a>
		</div>
		<div class="latestPost">
			<a href="#"><img src="img/post4.jpg" style="width: 100%" /></a>
		</div>
	</div>
</div>